:root {
  /* default position settings */
  --header-content-height: 50px;
  --header-content-top: 10px;
  --content-right: 0vw;
  --content-left: 10px;
  --main-content-top: 60px;
  --main-content-bottom: 40px;
  --dialog-left: calc(var(--content-left) + 60px);
  --dialog-top: calc(var(--main-content-top) + 40px);
  --editor-left: 210px;
  
  /* default size settings */
  --body-width: 520px;
  --side-bar-width: calc(var(--editor-left) - 20px);

  /* default font settings */
  --font-family: sans-serif;
  --header-content-font-size: 28px;
  --main-content-font-size: 18px;
}

* {
  position: absolute;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  font-size: var(--main-content-font-size);
  background-color: black;
  color: rgb(0, 150, 0);
  white-space: nowrap;
}

body {
  width: var(--body-width);
  height: 100vh;
}

#pageTitle {
  top: var(--header-content-top);
  left: var(--content-left);
  height: var(--header-content-height);
  font-size: var(--header-content-font-size);
}

.userNameDiv:hover,
.fileDiv:hover,
#switchUserDiv:hover {
  cursor: pointer;
  color: rgb(0, 200, 0);
  text-decoration: underline;
}

#userNameContainer {
  top: var(--main-content-top);
  left: var(--dialog-left);
  top: var(--dialog-top);
}

#userListTitle,
.userNameDiv {
  position: static;
}

#userListTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

#switchUserDiv {
  top: var(--header-content-top);
  right: var(--content-right);
  height: var(--header-content-height);
  font-size: var(--header-content-font-size);
}

#fileTreeDiv {
  top: var(--main-content-top);
  bottom: var(--main-content-bottom);
  left: var(--content-left);
  width: var(--side-bar-width);
  overflow: auto;
}

.fileDiv {
  position: relative;
}

#fileEditorDiv {
  top: var(--main-content-top);
  left: var(--editor-left);
  right: var(--content-right);
  bottom: var(--main-content-bottom);
  overflow-y: auto;
  background-color: rgb(35, 35, 46);
  white-space: pre;
}